*.obj
*.tlog
*.log
glbcodebase/graphicslab/glb_altar/Debug/glb_altar.lastbuildstate
*.unsuccessfulbuild
glbcodebase/graphicslab/glb_altar/Debug/vc110.idb
*.pdb
glbcodebase/graphicslab/glb_altar/glb_altar.aps
*.ilk
glbcodebase/graphicslab/glb_application/Debug/glb_application.lastbuildstate
*.idb
*.lastbuildstate
*.aps
*.pch